
article header h2 a {
  color: #a82a37;
  font-weight: 400;
}

aside {
  background-color: #44151a;
}

@media (min-width: 900px) {
  aside {
    width: 18vw;
  }
}

#tipue_search_input {
  max-width: 300px;
  width: 90%;
  margin-top: 25px;
  border-radius: 25px;
}