
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --gray: #7e7e7e;
  --gray-darker: #6b6b6b;
  --gray-darkest: #272727;
  --dar-red: #a82a37;
  --a-blue: rgba(0, 255, 255, 0.438);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

main {
  width: 80vw;
  left: 20vw;
}

.container {
  max-width: 1100px;
}

a {
  color: var(--gray-darkest);
}

/* article.single a {
  box-shadow: 0 -7px 0 var(--a-blue) inset;
} */

a:hover {
  color: #000;
  background-color: var(--a-blue);
  box-shadow: none;
}

h3 {
  font-size: 1.8em;
  font-weight: 400;
}


/* MAIN WINDOW */

main article header h1,
article header h2 a {
  color: #000;
  font-weight: 400;
  font-size: 2.2rem;
}

main article header p {
  /* color: #999;
  font-size: .86em;
  margin-top: 50px; */
  margin: 25px 0 20px 0;
}

article header h2 a:hover {
  color: var(--gray-darkest);
  font-weight: 400;
}


/* buttons */
a.btn {
  background-color: var(--gray);
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0,1,0,.1), 0 0.125rem 0.25rem -0.0625rem rgba(0,1,0,.06);
}

a.btn:hover {
  background-color: var(--gray-darker);
}

.pagination .btn {
  font-size: 1rem;
  background-color: var(--gray);
  transition: transform 0.15s ease;
  box-shadow: rgb(77, 77, 77) 0px 1px 2px;

}

.pagination a.btn:hover {
  background-color: var(--gray-darker);
  transform: translateY(3px); 
}

/* ARTICLE */

main article {
  margin: 0 8% 9%;
}

article.single a {
  box-shadow: 0 -4px 0 var(--a-blue) inset;
}

article.single a:hover {
  box-shadow: none;
}


div.tag-cloud p > a {
  box-shadow: none;
  background-color: var(--gray-darker);
}

.tag-cloud a:hover {
  background-color: var(--gray);
}

/* Search page */

#tipue_search_foot_boxes li a {
  box-shadow: none;
}

/* Tag page */
ul.list li a {
  box-shadow: none;
}

/* ASIDE */

aside {
  background-color: var(--gray-darker);
}

aside div > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

#tipue_search_input {
  max-width: 200px;
  width: 90%;
  margin-top: 25px;
  border-radius: 25px;
  background: #f5f5f5;
  box-shadow: inset 4px 4px 4px #d0d0d0, inset -4px -4px 4px #ffffff;
}


/* Media queries */
@media (min-width: 1440px) {
  body{
    line-height: 1.6em;
    font-size: 1em;
  };
}


@media (min-width: 1000px) {
  aside {
    width: 16vw;
  }
}

@media (min-width: 768px) {
  main {
    width: 80vw;
    left: 25vw;
  }
}





